
h2 {
  margin-top: 1em;
}

.votematrix {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 300px;
  min-height: 300px;
}

.votematrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.votematrix th input {
  font-weight:    700;
}

.votematrix td, .votematrix th {
  border:         1px solid #ccc;
}

th.topleft {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  text-align: center;
  background-color: #fff;
}

.constname input {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.partyvotes input, .partyname input {
  width:          70px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     right;
  background:     none;
}

.partyvotes input:hover, .partyname input:hover, .constname input:hover,
.partyvotes input:focus, .partyname input:focus, .constname input:focus {
  background:     #ddd;
}

.resultmatrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.resultmatrix th {
  font-weight:    700;
}

.resultmatrix td, .resultmatrix th {
  border:         1px solid #ccc;
}

.resultmatrix {
  margin-bottom: 1em;
}

.constname {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.partyseats, .partyname {
  width:          70px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     right;
  background:     none;
}

.simulationdata tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simulationdata th {
  font-weight:    700;
}

.simulationdata td, .simulationdata th {
  border:         1px solid #ccc;
}

.simulationdata {
  margin-bottom: 1em;
}

.measurename {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.methodnumbers, .methodname {
  width:          70px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     right;
  background:     none;
}
