
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.votematrix {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 100px;
  min-height: 100px;
  margin-top: 0.7em;
}

.votematrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.votematrix th input {
  font-weight:    700;
}

.votematrix td, .votematrix th {
  border:         1px solid #ccc;
}

.ruleset {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1.5em;
}

th.topleft {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  text-align: center;
  background-color: #fff;
}

.tablename {
  text-align: center;
}

.constname input, .tablename input {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.partyvotes input, .partyname input {
  width:          70px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     right;
  background:     none;
}

.partyvotes input:hover, .partyvotes input:focus,
.partyname input:hover, .partyname input:focus,
.constname input:hover, .constname input:focus,
.tablename input:hover, .tablename input:focus {
  background:     #ddd;
}

.growtable {
  border: 0px !important;
  background-color: #fff;
}

.resultmatrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.resultmatrix th {
  font-weight:    700;
}

.resultmatrix td, .resultmatrix th {
  border:         1px solid #ccc;
}

.resultmatrix {
  margin-bottom: 1em;
}

.constname {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.partyseats, .partyname {
  width:          70px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     right;
  background:     none;
}

.partyname {
  text-align: center;
}

.simulationdata tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simulationdata th {
  font-weight:    700;
}

.simulationdata td, .simulationdata th {
  border:         1px solid #ccc;
}

.simulationdata {
  margin-bottom: 1em;
}

.measurename {
  border:         0;
  outline:        0;
  padding:        8px;
  background:     none;
}

.methoddata, .methodname {
  width:          150px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     center;
  background:     none;
}
